ORIGINS=
PORT=8000
ROOT_PATH=/api/v1

ACCESS_TOKEN_EXPIRE_MINUTES=5
AUTH_ALGORITHM=HS256
SECRET_AUTH_KEY=

POSTGRES_SCHEMA=application
POSTGRES_HOST=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_RECONNECT_INTERVAL_SEC=1